- @blogs.each do |blog|
  .row
    .col.s12.m6.offset-m3
      .card{"data-blog-id": "#{blog.id}"}
        .card-title
          %p=blog.user.name
        .card-content
          %p=blog.text
        .card-action
          - if user_signed_in? && blog.user_id == current_user.id
            = link_to edit_blog_path(blog.id) ,method: "get", class: "edit_btn" do
              = fa_icon 'edit', class: 'edit_icon'
            / = link_to '編集', edit_blog_path(blog.id), method: "get", class: "edit_btn"
            = link_to blog_path(blog.id) ,method: "delete", remote: true, class: "delete_btn" do
              = fa_icon 'trash', class: 'delete_icon'
